{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p><i>By {{post.user.first_name}} {{post.user.last_name}}</i></p>
<br>
<em>Tags:</em>
{% for tag in user.posttags.name %}
    <span class="badge badge-primary">{{tag}}</span>
{% endfor %}

<br>

<a href="/users/{{post.user.id}}" class="btn btn-outline-info">Cancel</a>
<a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>

<form action="/posts/{{post.id}}/delete" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

{% endblock %}